@import "../../assets/morestyles.scss";
.header-font { 
  font-family:'Libre Franklin',Helvetica,Arial,Lucida,sans-serif;
  color: $font-lightgrey !important;
}
.nav-item:hover{
  color: $font-darkgrey !important;
}

.router-link-active {
  background-color: green;
}