<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="">
    <img src="https://i.ibb.co/k62Jy7J/test3.png" alt="feedbackhelp-logo" style="max-height: 50px">
 </a>
  <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto navbar-placing">
      <li class="nav-item">
        <a class="nav-link nav-item header-font" [routerLink]="['/home']" routerLinkActive="router-link-active">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-item header-font"  [routerLink]="['/payform']" routerLinkActive="router-link-active" >Pay</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-item header-font" [routerLink]="['/upload']" routerLinkActive="router-link-active">Upload</a>
      </li>
    </ul>
    <button class="btn btn-default" *ngIf="!currentUser" [routerLink]="['/login']" routerLinkActive=""  type="submit">Login</button>
    <button class="btn btn-default" *ngIf="currentUser" (click)="logout()">Logout</button>
  </div>
</nav>
