<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="">
    <img src="https://i.ibb.co/k62Jy7J/test3.png" alt="feedbackhelp-logo" style="max-height: 50px">
 </a>
  <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto navbar-placing">
      <li class="nav-item">
        <a class="nav-link nav-item header-font" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-item header-font"  [routerLink]="['/payform']" routerLinkActive="router-link-active" >Pay</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-item header-font" [routerLink]="['/upload']" routerLinkActive="router-link-active" >Upload</a>
      </li>
    </ul>

    <div ngbDropdown class="nav-item dropdown" *ngIf="loggedOn">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.firstName}}
      </a>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a ngbDropdownItem class="dropdown-item" href="#">Do something</a>
        <a ngbDropdownItem class="dropdown-item" href="#">Do something else</a>
        <div class="dropdown-divider"></div>
        <a ngbDropdownItem class="dropdown-item" (click)="logout()">Logout</a>
        <a ngbDropdownItem class="dropdown-item" href="#">Delete Account</a>
      </div>
    </div>
    
    <button class="btn btn-default" *ngIf="!loggedOn" [routerLink]="['/login']" routerLinkActive=""  type="submit" >Login</button>
  </div>
</nav>
