@import "../../assets/morestyles.scss";
.footer {
  width: 100%;
  
  line-height: 60px; /* Vertically center the text there */
  background-color: #666666;
}

.container {
  width: 100%;
}
.fontcolor {
  color: $yellowelement !important;
}