<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="fontcolor header-font" [routerLink]="['/home']">Home</a>
          <br>
        <a class="fontcolor header-font" [routerLink]="['/payform']">Pay</a>
        <br>
        <a class="fontcolor header-font"[routerLink]="['/login']">login</a>
        <p>Lorem ipsum...</p>
      </div>
      <div class="col-md-4" style="background-color:pink;">
        <p>Sed ut perspiciatis...</p>
      </div>
      <div class="col-md-4" style="background-color:orange;">
          <p>Ipsum lorem</p>
        </div>
      
    </div>
  </div>

</footer>