<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li>
            <a class="fontcolor" [routerLink]="['/home']" >Home</a>
          </li>
          <li>
            <a class="fontcolor"  [routerLink]="['/payform']">Pay</a>
          </li>
          <li>
            <a class="fontcolor" [routerLink]="['/upload']">Upload</a>
          </li>
        </ul>
        <br>
      </div>
      <div class="col-md-4">
        <p class="copyrightplacement">Copyright 2020</p> 
      </div>
      <div class="col-md-4">
          <p>Kontakt:</p>
          <br>
          <p>kontakt@feedbackhjalpen.se</p>
        </div>
      
    </div>
  </div>

</footer>