<footer class="footer">
  <div class="container">
    <div class="row mt-5">
      <div class="col-3">
        <ul>
          <li>
            <a class="fontcolor" [routerLink]="['/home']" >Startsida</a>
          </li>
          <li>
            <a class="fontcolor"  [routerLink]="['/products']">Produkter</a>
          </li>
          <li>
            <a class="fontcolor" [routerLink]="['/upload']">Uppladdning</a>
          </li>
        </ul>
      </div>
      <div class="col-9 d-flex justify-content-end">
        <ul class="listtype">
          <li>
        <a class= "fontcolor" href = "mailto: kontakt@paulssona.com">kontakt@paulssona.com</a>
          </li>
          <li>
        <a class= "fontcolor" href="tel:0702697571">Tfn: 0702 69 75 71</a>
          </li> 
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4 d-flex justify-content-center">
        <p>&copy; Copyright 2020</p> 
      </div>
    </div>
  </div>

</footer>