@import "../../assets/morestyles.scss";

.btn-delete {
    background-color:#E2AEB4;
    color: #666666;
    border-color: #E2AEB4;
    }
.btn-delete:focus {
    box-shadow: 0px 0px 20px #666666 !important;
    border-color: #666666 !important;
    }
.btn-delete:hover {
    background-color: red !important;
}
  