 
  <div *ngIf="cart.length <= 0">
    <h3 class="text-center bodysubheaderstyle header-font">Varukorgen är tom!</h3>
  </div>

<div class="container bodysubheaderstyle header-font mt-3">
  <div *ngIf="cart.length > 0" class="row well well-sm clearfix">
    <button (click)="checkout()" class="ml-auto btn btn-md btn-success btn-default btn-body mb-1">Till betalning</button>
  </div>
  <div class="row list-group mb-1">
    <div *ngFor="let product of cart; let i = index" class="item list-group-item">
      <div class="thumbnail">
        <img class="group list-group-image" src={{product.Product.image}} height="125" width="200" alt>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">{{product.name}}</h4>
          <p class="group inner list-group-item-text">{{product.meta_data_1}}</p>
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <p class="lead">Antal: {{product.quantity}}</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <p class="lead">Pris: {{product.Product.price | currency:'SEK':false}}</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number" (click)="changeQuantity('remove', product.Product)">
                      <span>-</span>
                    </button>
                </span>
                <input type="text" name="quantity" class="form-control input-number" [value]="product.quantity" min="1" max="25">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-number" (click)="changeQuantity('add', product.Product)">
                        <span>+</span>
                    </button>
                </span>
              </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <a (click)="removeProduct(product.Product)" class="btn btn-danger">Ta bort</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <label class="ml-auto"><strong>Totalt: {{totalPrice | currency:'SEK':false}}</strong></label>
  </div>
</div>

<div *ngIf="!loggedOn">
  <div class="radio-inline">
    <label><input type="radio" name="loginOption" [(ngModel)]="loginOption" [value]=true>Login</label>
  </div>
  <div class="radio-inline">
    <label><input type="radio" name="loginOption" [(ngModel)]="loginOption" [value]=false>Register</label>
  </div>
</div>

<app-login *ngIf="!loggedOn && loginOption" [redirect]="false"></app-login>

<app-register *ngIf="!loggedOn && !loginOption" [redirect]="false"></app-register>

<div class ="row">
  <button (click)="checkout()" class="btn btn-md btn-success ml-auto btn-default btn-body">Place holder för Paypal</button>
</div>