<div *ngIf="cart.length <= 0">
  <h3 class="text-center">No items in the Cart!</h3>
</div>

<div class="container">
<div *ngIf="cart.length > 0" class="row well well-sm clearfix">
  <label class="h5 pull-left"><strong>Total Items: {{totalQuantity}}</strong></label>
  <button style="margin-left: 20px" (click)="checkout()" class="btn btn-md btn-success pull-right">Checkout</button>
  <label class="h5 pull-right"><strong>Total: {{totalPrice | currency:'SEK':false}}</strong></label>
</div>
<div class="row list-group">
    <div *ngFor="let product of cart; let i = index" class="item list-group-item">
      <div class="thumbnail">
        <img class="group list-group-image" src={{product.Product.image}} height="125" width="200" alt>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">{{product.name}}</h4>
          <p class="group inner list-group-item-text">{{product.meta_data_1}}</p>
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <p class="lead">Quantity: {{product.quantity}}</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <p class="lead">Price: {{product.Product.price | currency:'SEK':false}}</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number" (click)="changeQuantity('remove', product.Product)">
                      <span>-</span>
                    </button>
                </span>
                <input type="text" name="quantity" class="form-control input-number" [value]="product.quantity" min="1" max="25">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-number" (click)="changeQuantity('add', product.Product)">
                        <span>+</span>
                    </button>
                </span>
              </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <a (click)="removeProduct(product.Product)" class="btn btn-danger">Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div *ngIf="cart.length > 0" class="row well well-sm clearfix">
  <label class="h5 pull-left"><strong>Total Items: {{totalQuantity}}</strong></label>
  <button style="margin-left: 20px" (click)="checkout()" class="btn btn-md btn-success pull-right">Checkout</button>
  <label class="h5 pull-right"><strong>Total: {{totalPrice | currency:'SEK':false}}</strong></label>
</div>
</div>