<div class="container">
  <div class="mt-5 mb-1">
    <h3 class= "header-font bodysubheaderstyle">Produkter</h3>
  </div>
  <div *ngFor="let product of products" class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img style="min-height: 200px; object-fit: cover;" class="card-img" src="{{product.image}}" alt="" />
          </div>
          <div class="col-md-9">
            <div class="card-body">
                <h4 class="card-title header-font">{{product.name}}</h4>
                <p class="card-text bodysubheaderstyle">{{product.description}}</p>
                <p class="lead header-font bodysubheaderstyle ">{{product.price | currency:'SEK':false}}</p>
                <a (click)="addToCart(product)" class="btn btn btn-body btn-default">Lägg i varukorgen</a>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>