/* Colour variables */
$smallelements-pink: #E2AEB4;
$smallelements-orange: #ffba60;
$font-darkgrey: #333333;
$font-lightgrey: #666666;


/* Applied Variables*/
body {
  background-color: green($color: #000000);
  font-family:'Libre Franklin',Helvetica,Arial,Lucida,sans-serif;
  color: $font-darkgrey; 
}
pre {
  font-family:'Libre Franklin',Helvetica,Arial,Lucida,sans-serif;
  color: $font-lightgrey; 
}
.btn-default {
  background-color: white;
  color: #666666;
  border-color: #666666;
}
.btn-default:hover, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: white;
  color: #666666;
  border-color: #ffba60;
}
.btn-default:focus {
  box-shadow: 0px 0px 3px #E2AEB4;
  border-color: #E2AEB4;
}