/* Colour variables */
$font-darkgrey: #333333;
$font-lightgrey: #666666;
$pinkelement: #E2AEB4;
$yellowelement: #ffcc00;

/* Applied Variables*/
body {
  background-color: green($color: #000000);
  font-family:'Libre Franklin',Helvetica,Arial,Lucida,sans-serif;
  color: $font-darkgrey; 
}
.pre {
  font-family:'Libre Franklin',Helvetica,Arial,Lucida,sans-serif;
  color: $font-lightgrey;
  line-height: 1.8em; 
  font-size:16px;
  text-align: justify;
  /*margin-bottom: 20px;*/
  }

/* Default Button Header*/
.btn-default {
  background-color: white;
  color: #666666;
  border-color: #666666;
}
.btn-default:hover, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: white;
  color: #666666;
  border-color: #ffcc00;
}
.btn-default:active {
  box-shadow: 0px 0px 3px #E2AEB4;
  border-color: #E2AEB4;
}

/* Body Button */
.btn-body {
  background-color: #FFCC00;
  color: #666666;
  border-color: #FFCC00;
}
.btn-default:hover, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #FFCC00;
  color: #333333;
  border-color: #666666;
}
.btn-default:focus {
  box-shadow: 0px 0px 3px #E2AEB4;
  border-color: #E2AEB4;
}