<div class="backgroundimg">
  <div class="container">
    <div class="row">
      <div class="col text-center text-sm-left">
        <h1 class="headerfontstyle">Välkommen till Feedbackhjälpen!<br>
          <small class="subheaderfontstyle">Det är kul att ha dig här</small>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-none d-sm-block">
        <a class="btn btn-default btn-body btn-lg mb-4" [routerLink]="['/products']" role="button">Jag vet vad jag vill ha</a>
      </div>
      <div class="col-sm-12 d-block d-sm-none padding-sm-header">
        <a class="btn btn-default btn-body btn-sm btn-block" [routerLink]="['/products']" role="button">Jag vet vad jag vill ha</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-none d-sm-block col-12">
      <div class="row col-12 margin-lg-header"> 
        <hr class="col-2 offset-5 hrstyle mb-5 justify-content-center">
        <div class="pre mb-3 text-center offset-2 col-sm-8 justify-content-center"> 
          Vi som arbetar med Feedbackhjälpen drivs av att kunna hjälpa andra med sådant som vi en gång fick hjälp med. Vi är en blandad skara med 
          erfarenheter från rekrytering, sälj, marknadsföring, olika ledarroller och egenföretagande med flera.   
        </div>
      </div>
    </div>
    <div class="d-block d-sm-none">  
      <div class="row col-12 mt-4">
        <hr class="col-2 offset-5 hrstyle mb-5">
      </div>  
      <div class="row">
        <div class="pre text-center justify-content-center mb-4"> 
            Vi som arbetar med Feedbackhjälpen drivs av att kunna hjälpa andra med sådant som vi en gång fick hjälp med. Vi är en blandad skara med 
            erfarenheter från sälj, rekrytering, marknadsföring, olika ledarroller och egenföretagande med flera.   
        </div>
      </div>
    </div>
  </div>  
  <div class="container">
    <div class="row col-12">
      <hr class="col-2 offset-5 hrstyle mb-5">
      <div class="col-lg-12 mb-1 bodysubheaderstyle">
        <h3>Här är en upplevelse med oss från start till mål:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="d-block d-md-none mb-3">
        <youtube-player 
          videoId="Fe-mBDKGd5E"
          suggestedQuality="highres"
          [height]="200"
          [width]="350"></youtube-player>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="d-none d-md-block d-lg-none">
        <youtube-player 
          videoId="Fe-mBDKGd5E"
          suggestedQuality="highres"
          [height]="430"
          [width]="760"></youtube-player>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="d-none d-lg-block mb-4">
          <div>
            <youtube-player 
              videoId="Fe-mBDKGd5E"
              suggestedQuality="highres"
              [height]="620"
              [width]="1100"></youtube-player>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row col-12">
      <hr class="col-2 offset-5 hrstyle mb-5 justify-content-center">
      <div class="col-lg-12 mb-3 d-flex justify-content-center"> 
        <h3 class="bodysubheaderstyle">Vad för text är det du vill skriva?</h3>  
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-12 col-md-4">
        <img class="mb-3 mw-100" src="https://i.ibb.co/Jp3JJ4M/Dator.jpg" alt="cv-img">
        <h5 class="mb-1 text-center">CV & Personligt brev</h5>
        <div class="mb-3 text-justify">
          Ett personligt brev uppfattas ofta som svårt att skriva.<br><br>
          Att skriva ett intresseväckande personligt brev är egentligen enklare än vad många tror, det kräver samtidigt mycket arbete.         
          Ett bra personligt brev ska återspegla dig som person. Vid en intervju ska den potentiella arbetsgivaren känna att du som 
          sitter framför dem är den som fångade deras intresse i det personliga brevet. 
          <br><br>Tillsammans med en av våra coacher minskar du arbetsbördan och kommer snabbare fram till ett CV och personligt brev som 
          ökar dina chanser för drömjobbet.
        </div>
      </div>
        <div class="mb-3 col-12 col-md-4">
          <img class="mb-3 mw-100" src="https://i.ibb.co/ftSyJfD/130475114-482292466082865-7690073146535501280-n.jpg" alt="sell-online-img">
          <h5 class="mb-1 text-center">Sälja något på nätet</h5>  
          <div class="mb-3 text-justify">
            Att sälja något på nätet kan kräva mycket tid och energi oavsett om det är en bil eller barnkläder som minstingen växt ur. 
            Konsten är att kunna träffa rätt målgrupper och köpbenägna kunder.<br><br> 
            Med rätt utformning ökar du antalet som hör av sig och samtidigt minskar de samtalen
             som ändå aldrig skulle leda till en försäljning.<br><br>
            Tillsammans med experter från digital marknadsföring och näthandel skräddarsyr ni tillsammans en vinnande annons.  
          </div>
        </div>
        <div class="mb-3 col-12 col-md-4">
          <img class="mb-3 mw-100" src="https://i.ibb.co/Z24xbD6/130522862-1301127173591554-6372202680774327658-n.jpg" alt="cv-img">
          <h5 class="mb-1 text-center">Ansökningar och Stipendier</h5>
          <div class="mb-3 text-justify">
            Driver du en förening eller annan verksamhet och behöver hjälp att söka fonder, stiftelser eller ekonomiska medel 
            från myndigheter för att förverkliga din projektide?
             <br><br> Tillsammans med våra coacher tar du dig
              igenom byråkratin och samtidigt utformar en ansökan som både fångar intresse och följer kriterierna. 
          </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-none d-sm-block">
        <a class="btn btn-default btn-body btn-lg mb-4" [routerLink]="['/products']" role="button">Till produkter</a>
      </div>
      <div class="col-sm-12 d-block d-sm-none">
        <a  class="btn btn-default btn-body btn-sm btn-block mb-4" [routerLink]="['/products']" role="button">Till produkter</a>
      </div>
    </div>
    <div class="row col-12">
      <hr class="col-2 offset-5 hrstyle mb-5 justify-content-center">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h3 class="bodysubheaderstyle">Vinsten</h3>
          <ul class="pre mb-5">
            <li>Fler återkopplingar från potentiella arbetsgivare</li>
            <li>Tips och råd av mentorer som har erfarenhet från rekrytering, försäljning, marknadsföring personalansvar mm..</li>
            <li>Ökad skrivfärdighet och bättre struktur i dina texter</li>
            <li> Snabbare klar från start till mål med din text.</li>
            <li>En ökad personlig insikt genom att få hjälp med en röd tråd att hitta dina styrkor och hur du  
              kan presentera dem. Dessa hamnar i din text och hjälper dig sedan vid en intervju.</li>
            <li>Sist men inte minst får en språkkoll så det blir personligt, grammatiskt korrekt med 
              inte allt för mycket talspråk eller slarvfel.</li>
          </ul>
      </div>
      <div class="col-lg-4 mb-5">
        <img class="mw-100" src="https://i.ibb.co/QKvgtgH/Skriver-2.jpg" alt="bulletpointstrength">
      </div>       
    </div>
  </div>
  <div class="container">
    <div class="row col-12">
      <hr class="col-2 offset-5 hrstyle mb-5 justify-content-center">
      <div class="col-lg-12 mb-3 d-flex justify-content-center"> 
        <h3 class="bodysubheaderstyle text-center">Är du osäker på om ditt projekt passar in eller har du företag?</h3>  
      </div>
    </div>
    <div class="row">
      <div class="offset-sm-2 col-sm-8 justify-content-center">
        <div class="mb-3">
          <div class="pre mb-3 text-center"> 
            Har du ett större projekt eller är företagare som vill ha hjälp med texter och mail ut mot kund? 
            Ta kontakt med vår B2B-del på <a class="fontcolor" href="https://paulssona.com" target="_blank">Paulssona</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    