@import "../../assets/morestyles.scss";

.backgroundimg {
    background-image: url('https://i.ibb.co/s5ydtHb/testbro-v3.png');  
    background-repeat: no-repeat;
    background-size: 100%
}
.padding-sm-header {
    padding-top: 20vw;
}
.margin-lg-header {
    margin-top: 24vw;
}