<div class="backgroundimg">
  <div class="container">
    <div class="row">
      <div class="col text-center text-sm-left">
        <h1 class="headerfontstyle">Välkommen till Feedbackhjälpen!<br>
          <small class="subheaderfontstyle">Det är kul att ha dig här</small>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-none d-sm-block">
        <a class="btn btn-default btn-body btn-lg mb-4" [routerLink]="['/payform']" role="button">Jag vet vad jag vill ha</a>
      </div>
      <div style= "padding-top:19vw;" class="col-sm-12 d-block d-sm-none">
        <a  class="btn btn-default btn-body btn-sm btn-block mb-3" [routerLink]="['/payform']" role="button">Jag vet vad jag vill ha</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="d-none d-sm-block offset-2 col-sm-8 justify-content-center" style="padding-top: 24vw;" >
        <div class="mb-3">
          <div class="pre mb-3 text-center"> 
            Ja, alltså på riktigt. Vi vet att vi är duktiga på det vi gör, men utan dig blir det inte många texter skrivna. <br>
            Vi som arbetar med Feedbackhjälpen drivs av att kunna hjälpa andra med sådant som vi en gång fick hjälp med. Vi är en blandad skara med 
              erfarenheter från sälj, rekrytering, marknadsföring, olika ledarroller och egenföretagande med flera.   
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-block d-sm-none justify-content-center pt-4" >
        <div class="mb-4">
          <div class="pre text-center "> 
            Ja, alltså på riktigt. Vi vet att vi är duktiga på det vi gör, men utan dig blir det inte många texter skrivna. <br>
            Vi som arbetar med Feedbackhjälpen drivs av att kunna hjälpa andra med sådant som vi en gång fick hjälp med. Vi är en blandad skara med 
              erfarenheter från sälj, rekrytering, marknadsföring, olika ledarroller och egenföretagande med flera.   
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="container">
    <div class="row col-12">
      <hr class="col-2 offset-5 hrstyle mb-5">
      <div class="col-lg-12 mb-1 bodysubheaderstyle">
        <h3>Här är en upplevelse med oss från start till mål:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="d-block d-md-none mb-3">
        <youtube-player 
          videoId="ZPm3FSTbrQ4"
          suggestedQuality="highres"
          [height]="200"
          [width]="350"></youtube-player>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="d-none d-md-block d-lg-none">
        <youtube-player 
          videoId="ZPm3FSTbrQ4"
          suggestedQuality="highres"
          [height]="430"
          [width]="760"></youtube-player>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="d-none d-lg-block mb-4">
          <div>
            <youtube-player 
              videoId="ZPm3FSTbrQ4"
              suggestedQuality="highres"
              [height]="620"
              [width]="1100"></youtube-player>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row col-12">
      <hr class="col-2 offset-5 hrstyle mb-5 justify-content-center">
      <div class="col-lg-12 mb-3 d-flex justify-content-center"> 
        <h3 class="bodysubheaderstyle">Vad för text är det du vill skriva?</h3>  
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-12 col-md-4">
        <img class="mb-3 mw-100" src="https://i.ibb.co/T8JxfKX/Dator.jpg" alt="cv-img">
          <div class="mb-3 text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. 
            Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed 
            augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per 
            conubia nostra, per inceptos himenaeos. 
          </div>
      </div>
        <div class="mb-3 col-12 col-md-4">
          <img class="mb-3 mw-100" src="https://i.ibb.co/94CD8WF/Byggnad.jpg" alt="cv-img">
            <div class="mb-3 text-justify">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. 
              Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed 
              augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per 
              conubia nostra, per inceptos himenaeos. 
            </div>
        </div>
        <div class="mb-3 col-12 col-md-4">
          <img class="mb-3 mw-100" src="https://i.ibb.co/Jt15ZFk/Byggnad-3.jpg" alt="cv-img">
            <div class="mb-3 text-justify">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. 
              Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed 
              augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per 
              conubia nostra, per inceptos himenaeos. 
            </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-none d-sm-block">
        <a class="btn btn-default btn-body btn-lg mb-4" [routerLink]="['/payform']" role="button">Gief cash</a>
      </div>
      <div class="col-sm-12 d-block d-sm-none">
        <a  class="btn btn-default btn-body btn-sm btn-block mb-4" [routerLink]="['/payform']" role="button">Gief cash</a>
      </div>
    </div>
    <div class="row col-12">
      <hr class="col-2 offset-5 hrstyle mb-5 justify-content-center">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h3 class="bodysubheaderstyle">Lorem Ipsum</h3>
          <ul class="pre mb-5">
            <li>Tips och råd av mentorer som har erfarenhet från rekrytering, försäljning, marknadsföring personalansvar mm..</li>
            <li>Ökad skrivfärdighet och bättre struktur i sina texter</li>
            <li>Minskade ledtider från det att man påbörjar en text till det att man är klar att skicka den</li>
            <li>En ökad personlig insikt genom att få hjälp med en röd tråd att finna ut sina styrkor och hur man 
              ska presentera dem. Det hjälper dig tex. vid en intervju.</li>
            <li>Sist men inte minst får man en liten språkkoll så det blir personligt, grammatiskt korrekt med 
              inte allt för mycket talspråk eller slarvfel. (Va, får man använda talspråk i seriösa texter?!)</li>
          </ul>
      </div>
      <div class="col-lg-4 mb-5">
        <img src="https://i.ibb.co/QKvgtgH/Skriver-2.jpg" alt="bulletpointstrength" style="max-width: 100%;">
      </div>       
    </div>
  </div>
  <div class="container">
    <div class="row col-12">
      <hr class="col-2 offset-5 hrstyle mb-5 justify-content-center">
      <div class="col-lg-12 mb-3 d-flex justify-content-center"> 
        <h3 class="bodysubheaderstyle text-center">Är du osäker på om ditt projekt passar in eller undrar något?</h3>  
      </div>
    </div>
    <div class="row">
      <div class="offset-sm-2 col-sm-8 justify-content-center">
        <div class="mb-3">
          <div class="pre mb-3 text-center"> 
            Här är en sammanfattande text om där de kan höra av sig via mail och om det är ett större projekt. Här finns tips och länk till paulssona, 
             men även en mailadress. De ska inte vara rädda att höra av sig.
          </div>
        </div>
      </div>
    </div>
    