<div class="container">
  <div class="row">
    <div class="col mt-5 mb-1">
      <h3 class= "header-font bodysubheaderstyle">Signup</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-6 header-font">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" 
            class="form-control input" 
            id="exampleInputEmail1" 
            placeholder="Enter email"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" 
            class="form-control input" 
            id="fname" 
            name="firstname" 
            placeholder="Your name.."
            formControlName="firstName"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lname">Last Name</label>
          <input type="text" 
            class="form-control input" 
            id="lname" 
            name="lastname" 
            placeholder="Your last name.."
            formControlName="lastName"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="number">Telefonnummer</label>
          <input type="phone" 
            class="form-control input" 
            id="phone" 
            placeholder="Ditt telefonnummer (07XXXXXXXX)"
            formControlName="phone"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Phone number is required</div>
            <div *ngIf="f.phone.errors.pattern">Phone number is in wrong format</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" 
            class="form-control input" 
            formControlName="password" 
            id="exampleInputPassword1" 
            placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Repeat Password</label>
          <input type="password" 
            class="form-control input" 
            formControlName="confirmPassword" 
            id="exampleInputPassword2" 
            placeholder="Repeat Password"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
        <div class="form-group">
          <label for="timeofday">När föredrar du att bli kontaktad? (Du kan fylla i flera val)</label>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="contactEarlyMorning" formControlName="contactEarlyMorning">
            <label class="form-check-label" for="contactEarlyMorning">Tid morgon</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="contactDay" formControlName="contactDay">
            <label class="form-check-label tickbox-font" for="contactDay">Tid dag</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="contactEvening" formControlName="contactEvening">
            <label class="form-check-label tickbox-font tickbox-margin" for="contactEvening">Kväll</label>
          </div>
        </div>
        <div class="form-check">
          <input type="checkbox" 
            class="form-check-input" 
            formControlName="acceptTerms"
            id="acceptTermsCheck"
            [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">
          <label class="form-check-label gdpr-text" for="exampleCheck1">Jag godkänner härmed att mina personuppgifter lagras enligt policy och GDPR.</label>
          <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
        </div>
        <div class="row">
          <div class="col-lg-12 d-none d-sm-block mb-1 mt-3">
              <button type="submit" [disabled]="loading" class="btn btn-body btn-default">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Skapa konto
              </button>
          </div>
          <div class="col-sm-12 d-block d-sm-none mb-1 mt-3">
              <button type="submit" [disabled]="loading" class="btn btn-body btn-default btn-block">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Skapa konto
              </button>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>